[wrapper] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

[node-editor] {
    width: auto !important;
}

// .socket.any {
//     background: #444 !important;
// }

// .node {
//     background: rgb(129, 170, 233) !important;
// }
// .node.json {
//     background: rgb(60, 99, 214) !important;
// }

// .socket.json {
//     background: rgb(228, 125, 9) !important;
// }

// .node.debug {
//     background: rgb(135, 179, 135) !important;
// }

// .node.selected {
//     border: dashed #ffff00 !important;
// }
