[layout-root] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .editor-drawer-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .tool-drawer {
        width: 256px;
    }
}
