<div layout-root fxLayout="column">
    <div layout-root fxLayout="row" fxLayoutAlign="space-between">
        <div tool-pallete fxLayout="column" fxFlex="200px" [class.mat-elevation-z2]="true">
            <button mat-stroked-button (click)="run()">
                <mat-icon>play_arrow</mat-icon>
            </button>
            <app-toolbox></app-toolbox>
        </div>
        <div fxFlex droppable (onDrop)="onDropComponent($event)">
            <app-rete layout-root #editor></app-rete>
        </div>
    </div>
</div>
